{% extends 'base.html' %}
{% load admin_urls %}
{% load i18n %}
{% load urls %}
{% load tagging_tags %}

{% block content %}
<div class="row">
    <div class="col-xs-12">

        <table class="table table-striped table-hover ">
            <thead>
                <tr>
                  <th>{% trans 'Читатель(ница)' %}</th>
                  <th>{% trans 'Взятые книги' %}</th>
                  <th>{% trans 'Возвращенные книги' %}</th>
                </tr>
            </thead>
            <tbody>
                {% for reader in object_list %}
                <tr>
                  <td>
                    <a href="{% url 'admin:core_reader_change' reader.id %}">{{ reader.name }}</a>
                  </td>
                  <td>
                    <ul>
                      {% for reading in reader.reading_set.all %}
                      {% if not reading.returned_at %}
                      <li>
                        {% include 'inc/authors.html' with authors=reading.book.authors.all%}
                        <b>"<a href="{% url 'admin:core_book_change' reading.book.id %}">{{ reading.book.title }}</a>"</b>
                      </li>
                      {% endif %}
                      {% endfor %}
                    </ul>
                  </td>
                  <td>
                    <ul>
                      {% for reading in reader.reading_set.all %}
                      {% if reading.returned_at %}
                      <li>
                        {% include 'inc/authors.html' with authors=reading.book.authors.all%}
                        <b>"<a href="{% url 'admin:core_book_change' reading.book.id %}">{{ reading.book.title }}</a>"</b>
                      </li>
                      {% endif %}
                      {% endfor %}
                    </ul>
                  </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

        {% if is_paginated %}
        {% include 'inc/pagination.html' %}
        {% endif %}


    </div>
</div>
{% endblock %}
